.Abilities h3 {
  margin: 0;
}

.Abilities td,
.Abilities th {
  text-transform: capitalize;
}

.Abilities tr.proficiency td {
  color: var(--orange-dark);
  font-weight: bold;
}

.Abilities td input {
  min-width: 1rem;
}

.Abilities td button,
.Abilities td input {
  margin: 0;
  min-width: 3rem;
  text-align: center;
}

.Abilities .Input {
  margin-right: 1rem;
}
