.CharacterHeader {
  margin-top: 2rem;
}

.CharacterHeader > div {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.CharacterHeader div h2 {
  margin: 0;
}

.CharacterHeader div p {
  color: var(--orange-dark);
  font-style: italic;
  margin: 0 auto 0 1rem;
}

.CharacterHeader form div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CharacterHeader form .details .LabeledInput .Input,
.CharacterHeader form .stats .LabeledInput .Input {
  width: 100%;
}

.CharacterHeader form .details .LabeledInput {
  margin-top: 1rem;
  min-width: 150px;
  width: 20%;
}

.CharacterHeader form .stats .LabeledInput {
  margin-top: 1rem;
  min-width: 70px;
  width: 12%;
}

.CharacterHeader .Stats {
  margin-top: 2rem;
}

.CharacterHeader .Stats td,
.CharacterHeader .Stats th {
  text-align: center;
}

.CharacterHeader .Stats .CheckCircle {
  width: auto;
}
