.HitPoints {
  margin-top: 2rem;
}

.HitPoints h3 {
  color: var(--blue);
  font-style: italic;
  margin: 0;
}

.HitPoints div.row {
  display: flex;
}

.HitPoints .Table {
  width: auto;
}

.HitPoints .Table tr td,
.HitPoints .Table tr th {
  text-align: center;
  vertical-align: middle;
}

.HitPoints-current {
  flex: 1;
  margin-right: 3rem;
}

.HitPoints-current .current {
  font-size: 2rem;
}

.HitPoints-current .max {
  position: relative;
}
.HitPoints-current .max::before {
  color: var(--gray-light);
  content: '/';
  left: -0.5rem;
  position: absolute;
}

.HitPoints-change {
  display: flex;
  flex: 1;
  align-self: flex-end;
}

.HitPoints-change div {
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;
}

.HitPoints-change > div:first-of-type {
  margin-right: 1rem;
}

.HitPoints-change .Input {
  display: block;
  font-size: 1.2rem;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 100%;
}

.HitPoints-change .Button + .Button {
  margin-top: 0.5rem;
}

.HitPoints-death,
.HitPoints-dice {
  margin-top: 2rem;
  flex: 1;
}
.HitPoints-dice {
  margin-right: 3rem;
}

.HitPoints-death .CheckCircleArray {
  justify-content: center;
}

