.CharacterSheet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.CharacterSheet-nav {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.CharacterSheet-nav a {
  align-items: center;
  border-color: var(--gray-light);
  color: var(--gray-light);
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-left: 0.5rem;
  padding: 0;
  width: 2rem;
}

@media (min-width: 980px) {
  .CharacterSheet article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .CharacterSheet article .CharacterHeader {
    width: 100%;
  }

  .CharacterSheet article .column + .column {
    width: 60%;
  }
}

.CharacterSheet .react-tabs {
  margin-top: 3rem;
}

.CharacterSheet .react-tabs__tab {
  color: var(--gray);
  font-size: 1.17rem;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

.CharacterSheet .react-tabs__tab--selected {
  color: var(--blue);
}
