.Skills {
  margin-top: 2rem;
}

.Skills h3 {
  margin: 0;
}

.Skills td,
.Skills th {
  text-transform: capitalize;
}

.Skills tr.proficiency td {
  color: var(--orange-dark);
  font-weight: bold;
}

.Skills td.ability {
  color: var(--gray);
  text-align: center;
}

.Skills form {
  margin-top: 1rem;
}

.Skills form button {
  margin-left: 1rem;
}
