.Abilities {
  margin-top: 2rem;
}

.Abilities h3 {
  color: var(--blue);
  font-style: italic;
  margin: 0;
}

.Abilities td,
.Abilities th {
  text-transform: capitalize;
}

.Abilities td[title] {
  cursor: unset;
}

.Abilities tr.proficiency td:last-of-type {
  color: var(--orange-dark);
}

.Abilities td input {
  min-width: 1rem;
}

.Abilities td button,
.Abilities td input {
  margin: 0;
  min-width: 3rem;
  text-align: center;
}

.Abilities .Input {
  margin-right: 1rem;
}
