.Skills {
  margin-top: 2rem;
}

.Skills h3 {
  color: var(--blue);
  font-style: italic;
  margin: 0;
}

.Skills td,
.Skills th {
  text-transform: capitalize;
}

.Skills tr.proficiency td {
  color: var(--orange-dark);
  font-weight: bold;
}

.Skills td .ability {
  margin-left: 0.5rem;
  opacity: 0.5;
}

.Skills form {
  margin-top: 1rem;
}

.Skills form button {
  margin-left: 1rem;
}

.Skills p {
  color: var(--gray);
  font-style: italic;
  text-align: center;
}
