.Weapons {
  margin-top: 2rem;
}

.Weapons h3 {
  position: absolute;
  left: -9999px;
}

.Weapons .Table td:last-of-type,
.Weapons .Table th:last-of-type {
  text-align: right;
}

.Weapons .properties {
  font-color: var(--gray);
  font-style: italic;
}

.Weapons .MarkdownEditor {
  margin-top: 2rem;
}

