.Weapons {
  margin-top: 2rem;
}

.Weapons h3 {
  position: absolute;
  left: -9999px;
}

.Weapons td,
.Weapons th {
  text-transform: capitalize;
}

.Weapons tr.proficiency td {
}

.Weapons .MarkdownEditor {
  margin-top: 2rem;
}

