.CharacterCard {
  margin: 1rem 0 0;
  padding: 0;
}

.CharacterCard header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
}

.CharacterCard header h2 {
  margin: 0;
  text-align: left;
}

.CharacterCard header h2 a {
  color: var(--fg);
  display: block;
  padding: 0.2rem;
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}

.CharacterCard header h2 a::after {
  background: var(--blue);
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateY(5px);
  transition: opacity 0.3s, transform 0.3s;
  width: 100%;
}

.CharacterCard header h2 a:focus,
.CharacterCard header h2 a:hover {
  color: var(--blue);
  outline: none;
}

.CharacterCard header h2 a:focus::after,
.CharacterCard header h2 a:hover::after {
  opacity: 1;
  transform: translateY(0px);
}

.CharacterCard header p {
  margin: 0 auto 0 1rem;
  color: var(--orange-dark);
  font-style: italic;
}

.CharacterCard header dl {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
}

.CharacterCard header dl dt {
  color: var(--gray);
  text-transform: uppercase;
}

.CharacterCard header dl dd {
  margin: 0 0 0 1rem;
}
.healthy {
  color: var(--green);
}
.bloody {
  color: var(--yellow);
}
.deathly {
  color: var(--orange-dark);
}

.CharacterCard .StatList {
  margin: 1rem 0 0;
}

.CharacterCard p {
  text-transform: capitalize;
}

