.SpellSlots {
  display: flex;
  text-align: left;
}

.SpellSlots legend {
  color: var(--gray);
  display: inline;
  font-size: 1rem;
  font-weight: bold;
}

.SpellSlots fieldset {
  border: none;
  display: inline-block;
  margin: 0 0 0 1rem;
  padding: 0;
}

.SpellSlots fieldset div {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 0.25rem;
}

.SpellSlots fieldset input {
  margin: 0.25rem;
}
