.Stat {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Stat dt {
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
}

.Stat dd {
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  margin: 0;
  padding: 0.5rem 0 0;
}

