.Button {
  background: none;
  border: 1px solid var(--aqua);
  color: var(--fg);
  cursor: pointer;
  font-family: 'Lora', Georgia, serifs;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}
.Button:hover,
.Button:focus {
  box-shadow: 0 0 5px var(--aqua);
  color: var(--aqua-dark);
  outline: none;
}

.Button.editable {
  border: 0;
  border: 1px dotted var(--aqua);
  color: var(--fg);
}
.Button.editable:hover,
.Button.editable:focus {
  border-style: solid;
  color: var(--fg);
}
