.CheckCircle {
  align-items: center;
  display: flex;
  height: 1rem;
  justify-content: center;
  position: relative;
  --primary-color: var(--orange-dark);
  width: 1rem;
}

.CheckCircle.green {
  --primary-color: var(--green);
}
.CheckCircle.red {
  --primary-color: var(--red);
}
.CheckCircle.aqua {
  --primary-color: var(--aqua);
}
.CheckCircle.blue {
  --primary-color: var(--blue);
}
.CheckCircle.purple {
  --primary-color: var(--purple);
}

.CheckCircle input {
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CheckCircle div {
  background-clip: content-box;
  background-color: transparent;
  border: 1px solid var(--gray-light);
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  padding: 2px;
  width: 1rem;
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

.CheckCircle.checked div {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.CheckCircle div:focus,
.CheckCircle div:hover,
.CheckCircle input:focus + div,
.CheckCircle input:hover + div {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--gray);
  outline: none;
}

.CheckCircle div:active,
.CheckCircle input:active + div {
  box-shadow: 0 0 1px var(--gray);
}

