.Input {
  background: none;
  border: 1px dotted var(--aqua);
  color: var(--fg);
  font-family: 'Lora', Georgia, serif;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

.Input.fluid {
  width: 100%;
}

.Input:hover,
.Input:focus {
  box-shadow: 0 0 5px var(--aqua);
  border-style: solid;
  outline: none;
}

.Input[readonly] {
  border: 1px solid transparent;
  border-bottom: 2px solid var(--aqua);
}
.Input[readonly]:hover,
.Input[readonly]:focus {
  border: 1px solid var(--aqua);
}

.Input::placeholder {
  color: var(--gray);
  font-style: italic;
}

.Input::-webkit-calendar-picker-indicator {
  background: none;
  color: var(--aqua);
  cursor: pointer;
  margin-right: -0.25rem;
}

.Input[type=number]::-webkit-inner-spin-button, 
.Input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

