.Input {
  background: none;
  border: 0;
  border: 1px dotted var(--aqua);
  color: var(--fg);
  font-family: 'Lora', Georgia, serifs;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

.Input:hover,
.Input:focus {
  box-shadow: 0 0 5px var(--aqua);
  border-style: solid;
  outline: none;
}

.Input::placeholder {
  color: var(--gray);
  font-style: italic;
}

.Input::-webkit-calendar-picker-indicator {
  background: none;
  color: var(--aqua);
  cursor: pointer;
  margin-right: -0.25rem;
}

