.Input {
  background: none;
  border: 0;
  border-bottom: 2px solid var(--aqua);
  color: var(--fg);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

.Input:hover,
.Input:focus {
  box-shadow: 0 0 5px var(--aqua);
  outline: none;
}

