.Table {
  border-collapse: collapse;
  width: 100%;
}

.Table td,
.Table th {
  padding: 0.5rem 0.8rem;
  text-align: center;
}

.Table td {
  border-top: 1px solid var(--gray-light);
}

.Table td:first-of-type,
.Table th:first-of-type {
  text-align: left;
}

