.App {
  height: 100%;
  overflow: auto;
}

.App__noScroll {
  overflow: hidden;
}

.App__loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.App-header {
  align-items: center;
  background: var(--fg);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-height: 100%;
  min-width: 18vw;
  overflow: auto;
  padding: 1rem 3rem;
  position: relative;
  z-index: 10;
}

.App-navToggle {
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  padding: 0.2rem;
}

.App-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25rem;
  opacity: 1;
  text-align: center;
  transition: height 0.3s ease, opacity 0.3s ease;
  width: 100%;
}

.App-nav__hidden {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

.App-navOverlay {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 9;
}
.App-navOverlay__hidden {
  display: none;
}

@media (min-width: 980px) {
  .App {
    display: flex;
  }

  .App-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 100%;
    padding: 3rem 0;
  }

  .App-navToggle {
    display: none;    
  }

  .App-nav__hidden {
    display: block;
    height: auto;
    margin: 2rem 0 0;
    opacity: 1;
    transition: none;
  }
  
  .App-navOverlay {
    display: none;
  }
}

.App-header h1 {
  color: var(--orange);
  font-style: italic;
  margin: 0;
}

.App-header h1 span {
  display: inline-block;
  font-size: 1.6rem;
  transform: translate(1px, 2px) rotate(-10deg);
}

.App-navToggle:focus,
.App-navToggle:hover {
  border: 1px solid var(--blue);
  box-shadow: 0 0 7px var(--blue);
}

.App-navToggle:active {
  box-shadow: 0 0 2px var(--blue);
}

.App-navToggle svg {
  fill: var(--bg);
}
.App-navToggle:focus svg,
.App-navToggle:hover svg {
  /* fill: var(--blue); */
}

.App-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-nav hr {
  border: none;
  border-top: 1px solid var(--gray-dark);
  height: 0px;
  margin: 0;
  padding: 0;
  width: 35%;
}

@media (min-width: 980px) {
  .App-nav hr {
    margin: 1rem auto;
    width: 65%;
  }
}

.App-nav a {
  color: var(--bg);
  display: block;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
  width: fit-content;
}
.App-nav a::after {
  background: var(--blue);
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateY(5px);
  transition: opacity 0.3s, transform 0.3s;
  width: 100%;
}
.App-nav a.active,
.App-nav a:focus,
.App-nav a:hover {
  color: var(--gray);
  outline: none;
}
.App-nav a:focus::after,
.App-nav a:hover::after {
  opacity: 1;
  transform: translateY(0px);
}

.App main {
  box-shadow: 0 5px 5px -5px var(--gray) inset;
  flex-grow: 1;
  overflow-y: auto;
  padding: 3rem;
}
@media (min-width: 980px) {
  .App main {
    box-shadow: 0 0 5px var(--gray) inset;
  }
}

.App main h1 {
  color: var(--gray-light);
  margin: 0;
}



/**
 * REACT TABS
 */
.react-tabs__tab-list {
  border-bottom: 1px solid var(--gray-light);
  text-align: left;
}

.react-tabs__tab {
  color: var(--gray);
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px var(--gray-dark);
  border-color: var(--gray-light);
}

.react-tabs__tab:focus:after {
  background: var(--bg);
}

.react-tabs__tab--selected {
  background: var(--bg);
  border-color: var(--gray-light);
  color: var(--fg);
}
