.Button {
  --primary: var(--aqua);
  --primary-dark: var(--aqua-dark);
  --secondary: var(--fg);
  background: none;
  border: 1px solid var(--primary);
  color: var(--secondary);
  cursor: pointer;
  font-family: 'Lora', Georgia, serifs;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  transition: border 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.Button:hover,
.Button:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 5px var(--primary);
  color: var(--primary-dark);
  outline: none;
}

.Button:active {
  box-shadow: 0 0 2px var(--primary);
}

.Button.editable {
  border: 0;
  border: 1px dotted var(--primary);
  color: var(--secondary);
}
.Button.editable:hover,
.Button.editable:focus {
  border-style: solid;
  color: var(--secondary);
}

a.Button {
  text-decoration: none;
}
