.Select {
  background: none;
  border: 1px dotted var(--aqua);
  color: var(--fg);
  font-family: 'Lora', Georgia, serif;
  font-size: 1rem;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  transition: border 0.3 ease, color 0.3s ease, box-shadow 0.3s ease;
}

.Select:hover,
.Select:focus {
  box-shadow: 0 0 5px var(--aqua);
  border-style: solid;
  outline: none;
}

