.CheckCircleArray {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CheckCircleArray .CheckCircle {
  margin-left: 1rem;
}

.CheckCircleArray .CheckCircle:first-child {
  margin-left: 0rem;
}

