.App {
}

.App h1 {
  color: var(--orange-dark);
  font-style: italic;
}

.App h1 span {
  display: inline-block;
  font-size: 1.6rem;
  transform: translate(1px, 2px) rotate(-10deg);
}

.react-tabs__tab-list {
  border-bottom: 1px solid var(--fg);
  text-align: left;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px var(--gray-dark);
  border-color: var(--gray-dark);
}

.react-tabs__tab:focus:after {
  background: var(--bg);
}

.react-tabs__tab--selected {
  background: var(--bg);
  border-color: var(--fg);
  color: var(--fg);
}
