.CombatPanel .Table {
  margin-top: 2rem;
}

.CombatPanel .Table td,
.CombatPanel .Table th {
  text-align: left;
  white-space: nowrap;
}

.CombatPanel .Table td:first-child .Input {
  text-align: center;
  width: 4rem;
}

.CombatPanel .Table td:nth-child(3) {
  font-weight: bold;
}

.CombatPanel .Table td:last-child {
  width: 100%;
  white-space: auto;
}

.CombatPanel .Table td:last-child .Input {
  width: 100%;
}

.CombatButtons {
  margin-top: 2rem;
}

.CombatButtons .Button {
  margin-right: 2rem;
}
